p {
    margin: 0;
}

hr {
    padding: 0;
    margin: 0;
}

.total-data-container {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 60vh;
}

.left-pane-container:hover {
    background-color: rgb(236, 236, 236);
}

.left-pane-container-items {
    cursor: pointer;
}

.filter-search {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid grey;
    margin: 1rem 0;
}

.input-icons i {
    position: absolute;
}
  
.icon {
    padding-top: 1.8rem;
    padding-left: 1.8rem;
    min-width: 40px;
    margin-left: auto;
}
  
.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
}

.right-pain-container {
    border: 1px solid rgb(148, 147, 147);
    padding: 0;
    height: 60vh;
}

.right-pane-save-btn {
    background-color: #1A6EFD;
    color: white;
    width: 10rem;
    height: 1.5rem;
    border: none;
    border-radius: 4px;
    padding-bottom: 2rem;
}

/* scroll top button */

.scroll-top-button {
    background-color: #fff;;
    border: none;
}

.scroll-top-icon {
    color: #1A6EFD;
    background: white;
    font-weight: bold;
    font-size: 30px;
    position: fixed;
    top: 80vh;
    left: 36vw;
}