.logo-styles {
    width: 100px;
    height: 20px;
    cursor: pointer;
}

.headerStyles {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.highlightheaderNav:hover {
    border-bottom: 2px solid #4798FE;
    cursor: pointer;

}

