.App {
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

/* Login Page Styles */
.bg-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-container {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 1rem;
  height: 65vh;
  width: 65vw;
}

.oAuthOptions {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: black;
  margin: 8px 0px;
  margin-top: 2rem;
}
.oAuthOptions:before,
.oAuthOptions:after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 8px;
}

.oAuthIcons {
  font-size: 1.5rem;
  cursor: pointer;
}

/* Carousel image containers */
.carousel-image-container {
  width: 100%;
}
.carousel-image-1 {
  width: 20%;
}
.carousel-image-1-1 {
  width: 70%;
}
.carousel-image-2 {
  width: 40%;
}
.carousel-image-3 {
  width: 70%;
}

.login-findem-logo {
  width: 30px;
}

/* Register Form */
.carousel-container {
  background-color: #2973f4;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-indicators  {
  position: unset;
}

